<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- id=Vendor_Module::resource_name | title=Tên hiển thị ở danh sách resource-->
                <resource id="Edumagento_HelloWorld::menu" title="Edumagento Custom Menu" sortOrder="10" >
                    <resource id="Edumagento_HelloWorld::index" title="Index" sortOrder="50" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
